.lockedTitle {
    color: #aaa; /* Серый цвет для заблокированных модулей */
  }
  
  .unlockedTitle {
    color: #333; /* Темный цвет для доступных модулей */
  }
  
  .completedLesson {
    color: #38a169; /* Зеленый цвет для завершенных уроков */
  }
  
  .incompleteLesson {
    color: #3182ce; /* Синий цвет для незавершенных уроков */
  }